html,
body {
  background-color: #131313;
  margin: 0;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 60.5px;
  margin-right: 191px;
  margin-top: 107px;
  font-family: Yeseva One;
}
a {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
  text-transform: uppercase;
}
a:hover {
  color: #e3b873;
  text-decoration-line: underline;
}
#nav_1 {
  color: #e3b873;
  text-decoration-line: underline;
}
h1 {
  color: #e3b873;
  margin: 0;
  font-family: Yeseva One;
  text-transform: uppercase;
}
h3 {
  color: #e3b873;
  margin: 0;
  font-family: Yeseva One;
  text-transform: uppercase;
}
p {
  color: #ffffff;
  margin-top: 0;
  font-family: Nunito Sans;
  font-size: 14px;
}
.main {
  width: 1171px;
  display: flex;
  margin: 107px 110px 123px 134px;
}
.main_1 {
  width: 442px;
  height: 390px;
}
.main_1_1 {
  margin-bottom: 42px;
}
.main_1_1_bonus {
  width: 253px;
  display: flex;
  margin-bottom: 34px;
  flex-direction: column;
}
.main_1_2 {
  display: grid;
  grid-template:
    "main_1_2_1 main_1_2_1" 50px
    "main_1_2_1 main_1_2_1" 50px;
  width: 442px;
  height: 180px;
  gap: 34px;
}
.main_1_2_1 {
  display: flex;
  flex-direction: column;

  padding: 0;
  gap: 9px;
}
#ggg {
  position: absolute;
  border: 1px solid #e3b873;

  margin: 55px 0px 0px 180px;
}
.pagination-circle {
  display: flex;
  flex-direction: row;
  width: 10px;
  height: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50%;
  gap: 5px;
}
#top {
  display: flex;
  gap: 15px;
}

#bottom {
  display: flex;
}
.active {
  background-color: rgb(126, 126, 126);
}
.main_2 {
  margin-left: 50px;
}

#body_1 :target {
  display: block;
}
#body_2 {
  display: none;
}
#body_2 :target {
  display: block;
}
#body_3 {
  display: none;
}
#body_3 :target {
  display: block;
}
